body {
	font-family: "Varela Round", Helvetica, Arial, sans-serif;
}

// Contact Modal Contents
.avatar {
	width: 145px;
	border-radius: 20px;
	margin-left: 195px;
}

.get-in-touch {
	text-align: center;
}

.email {
	text-align: center;
}

.social-media-group {
	margin-left: 50px;
}

.social-media {
	display: inline-block;
	width: 80px;
	margin-left: 20px;
}

.final-project {
	width:500px;
}