$greyblack: rgb(49, 49, 49);

body {
	// font-family: "Varela Round", Helvetica, Arial, sans-serif;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

h1 {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

.content {
	width: 1250px;
	margin-left: -260px;
}

// Contact Modal Contents
.avatar {
	width: 145px;
	border-radius: 30px;
	margin-left: 15px;
	// margin-left: 195px;
	padding-bottom: 10px;
}

.get-in-touch {
	text-align: center;
	padding-top: 10px;
}

.email {
	text-align: center;
}

.social-media-group {
	margin-left: 50px;
}

.social-media {
	display: inline-block;
	width: 80px;
	margin-left: 5px;
}

.wordpress {
	width:110px;
}

// My Project Showcase
.my-projects {
	width: 1250px;
	display: inline-block;
}

.final-project {
	width:500px;
	margin-left: -200px;
}
// .final-project {
// 	position: absolute;
// 	width: 200px;
// 	margin-left: -55px;
// }
// .final-project:hover {
// 	width:900px;
// 	margin-left: -105px;
// }

.responsive-hw {
	width: 500px;
	margin-left: -200px;
}
// .responsive-hw {
// 	position: absolute;
// 	width: 200px;
// 	margin-left: 165px;

// }
// .responsive-hw:hover {
// 	width:900px;
// 	margin-left: -105px;
// }

.git-smack {
	width: 500px;
	margin-left: -200px;
}
// .git-smack {
// 	position: absolute;
// 	width: 200px;
// 	margin-left: 385px;
// }
// .git-smack:hover {
// 	width:900px;
// 	margin-left: -105px;
// }

.mobber {
	width: 500px;
	margin-left: -200px;
}
// .mobber:hover {
// 	width:900px;
// 	margin-left: -105px;
// }

.matchmaker {
	width: 500px;
	margin-left: -200px;
}

.project-titles {
	text-align: center;
	margin-left: -200px;
}

.irylogo {

}

a {
	color: #cd822b;
}
a:hover {
	color: #965000;
}
a:focus {
	color: #965000;
}
// a:active {
// 	color: #965000;
// }
// a:visited {
// 	color: #965000;
// }

.btn-primary {
	background-color: #cd822b;
	border-color: #854700
}
.btn-primary:hover {
	background-color: #965000;
	border-color: #854700
}
.btn-primary:active {
	background-color: #965000;
	border-color: #854700
}
.btn-primary:focus {
	background-color: #965000;
	border-color: #854700
}