$greyblack: rgb(49, 49, 49);

body {
	font-family: "Varela Round", Helvetica, Arial, sans-serif;
}

// Contact Modal Contents
.avatar {
	width: 145px;
	border-radius: 30px;
	margin-left: 15px;
	// margin-left: 195px;
	padding-bottom: 10px;
}

.get-in-touch {
	text-align: center;
	padding-top: 10px;
}

.email {
	text-align: center;
}

.social-media-group {
	margin-left: 50px;
}

.social-media {
	display: inline-block;
	width: 80px;
	margin-left: 5px;
}

.wordpress {
	width:110px;
}

.final-project {
	width:500px;
	margin-left: 95px;
}
// .final-project {
// 	position: absolute;
// 	width: 200px;
// 	margin-left: -55px;
// }
.final-project:hover {
	width:900px;
	margin-left: -105px;
}

.responsive-hw {
	width: 500px;
	margin-left: 95px;
}
// .responsive-hw {
// 	position: absolute;
// 	width: 200px;
// 	margin-left: 165px;

// }
.responsive-hw:hover {
	width:900px;
	margin-left: -105px;
}

.git-smack {
	width: 500px;
	margin-left: 95px;
}
// .git-smack {
// 	position: absolute;
// 	width: 200px;
// 	margin-left: 385px;
// }
.git-smack:hover {
	width:900px;
	margin-left: -105px;
}